@model Projekt_MVC.Models.Dyskusja

@{
    var userRole = Context.Session.GetString("UserRole");
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="@ViewBag.CurrentSkinCssFilePath">
    <link rel="stylesheet" href="~/css/Dyskusja.css">
</head>
<body>

    <h3 class="temat">@Model.Temat</h3>
    <div class="opis">@Html.Raw(Model.Opis)</div>

    @if (Model.Odpowiedzi != null && Model.Odpowiedzi.Any())
    {
        <h4>Odpowiedzi:</h4>
        <ul class="odpowiedzi">
            @foreach (var odpowiedz in Model.Odpowiedzi)
            {
                <li>
                    <div class="autor">@odpowiedz.Autor.Nazwa</div>
                    <div class="tresc">@Html.Raw(odpowiedz.Tresc)</div>
                    @if (!odpowiedz.ZgloszenieModeracji && userRole != "admin" && ViewBag.CzyMod != 1 && userRole != null)
                    {
                        <form asp-action="ZglosOdpowiedzDoModeracji" asp-controller="Home" method="post">
                            <input type="hidden" name="IdOdpowiedzi" value="@odpowiedz.OdpowiedzId" />
                            <button type="submit" class="zglos-btn">Zgłoś do moderacji</button>
                        </form>
                    }
                    @if (userRole == "admin" || ViewBag.CzyMod == 1)
                    {
                        <div class="admin-options">
                            <form asp-action="UsunOdpowiedz" asp-controller="Admin">
                                <input type="hidden" name="IdOdpowiedzi" value="@odpowiedz.OdpowiedzId">
                                <input type="hidden" name="IdDyskusji" value="@odpowiedz.Dyskusja.DyskusjaId">
                                <button type="submit" class="admin-btn" style="margin-top: 10px" >Usuń Odpowiedź</button>
                            </form>
                        </div>
                    }
                </li>
            }
        </ul>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            alert('@TempData["ErrorMessage"]');
        </script>
    }

    @if(userRole != null)
    {
        <form asp-controller="Home" asp-action="NapiszOdpowiedz" method="post">
            <div class="odpowiedz-form">
                <input type="hidden" name="IdDyskusji" value="@Model.DyskusjaId">
                <textarea type="text" name="odpowiedz" placeholder="Napisz odpowiedź..." class="OdpowiedzTextArea"></textarea>
                <button type="submit" class="odpowiedz-btn" style="margin-top: 10px">Odpowiedz</button>
            </div>
        </form>
    }
    else
    {
        <form asp-controller="Rejestracja" asp-action="Index" method="post">
            <div class="odpowiedz-form">
                <input type="hidden" name="IdDyskusji" value="@Model.DyskusjaId">
                <textarea type="text" name="odpowiedz" placeholder="Napisz odpowiedź..." class="OdpowiedzTextArea"></textarea>
                <button type="submit" class="odpowiedz-btn" style="margin-top: 10px">Odpowiedz</button>
            </div>
        </form>
    }

</body>

<script src="https://cdn.tiny.cloud/1/qsdgw82hvfxv3yn9g35x7lslfh8cgs9ng1qeua0h3wgwbuxy/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'emoticons',
        toolbar: 'emoticons',
        toolbar_location: 'bottom',
        menubar: false,
        statusbar: false,
        width: '100%',
        height: 300,
        setup: function (editor) {
            editor.on('change', function () {
                editor.save();
            });
        }
    });
</script>
</html>
