@model List<Projekt_MVC.Models.Dyskusja>

@{
    ViewData["Title"] = "Home Page";

    if (ViewBag.UserId == null)
    {
        Layout = "_LayoutNieZalogowany";
    }
    else
    {
        Layout = "_Layout";
    }
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="@ViewBag.CurrentSkinCssFilePath">
</head>
<body>

    <h1>Dyskusje:</h1>

    <form asp-controller="Home" asp-action="StworzDyskusje" method="post" onsubmit="return sprawdzLogowanie()">
        <button type="submit" class="StworzDyskusje">Stwórz Dyskusję</button>
        <input type="hidden" name="ForumId" value="@ViewBag.ForumId" />
    </form>

    @if (Model == null || !Model.Any())
    {
        <p>Brak dyskusji na forum</p>
    }
    else
    {
        <div class="list-group">
            @foreach (var dyskusja in Model)
            {
                <div class="list-group-item">
                    <a href="/Home/Dyskusja/@dyskusja.DyskusjaId" class="list-group-item-action">
                        @dyskusja.Temat
                        Liczba odpowiedzi: @dyskusja.LiczbaOdpowiedzi
                        Liczba odsłon: @dyskusja.LiczbaOdwiedzen
                    </a>

                    @if (ViewBag.Rola == "admin" || ViewBag.CzyMod == 1)
                    {
                        <form method="post" asp-action="UsunDyskusje" asp-controller="Admin" style="display: flex; align-items: center; margin-left: 10px;">
                            <input type="hidden" name="id" value="@dyskusja.DyskusjaId" />
                            <button type="submit" class="red-button" onclick="f(event)">Usuń</button>
                        </form>
                    }
                </div>
            }
        </div>
    }

    <script>
        function sprawdzLogowanie() {
            var isUserLoggedIn = @(ViewBag.UserId != null ? "true" : "false");

            if (!isUserLoggedIn) {
                window.location.href = '../../Rejestracja/Logowanie';
                return false;
            }

            return true;
        }

        function f(e) {
            if (!confirm("Czy na pewno chcesz usunąć dyskusję?")) {
                e.preventDefault();
            }
        }
    </script>

</body>
</html>
