@model Projekt_MVC.ViewModels.ZmianaHasla

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Profil.css">

    @* Dodaj link do aktualnie wybranej skórki użytkownika *@
    <link rel="stylesheet" href="@ViewBag.CurrentSkinCssFilePath">
</head>

<body>
    <div class="container">
        <header>
            <h1 style="color:azure">Profil użytkownika: @ViewBag.Nazwa</h1>
        </header>

        <div class="content">
            <!-- Sekcja dla dyskusji użytkownika -->
            <section id="dyskusjeUzytkownika" class="section">
                <h2>Twoje dyskusje</h2>
                <ul class="discussion-list">
                    @if (ViewBag.Dyskusje != null)
                    {
                        foreach (var dyskusja in ViewBag.Dyskusje)
                        {
                            <li>
                                <form method="post" asp-action="Dyskusja" asp-controller="Home">
                                    <input type="hidden" name="id" value="@dyskusja.DyskusjaId">
                                    <button type="submit" class="discussion-button">@dyskusja.Temat</button>
                                </form>
                            </li>
                        }
                    }
                    else
                    {
                        <li>Brak dostępnych dyskusji</li>
                    }
                </ul>
            </section>

            <!-- Formularz do zmiany skórki -->
            <form asp-controller="ProfilUzytkownika" asp-action="ZmienSkorke" method="post" class="form" style="text-align:center">
                <label for="skorki">Wybierz skórkę:</label>
                <select name="skorki" id="skorki" class="select">
                    @{
                        var currentSkinId = ViewBag.CurrentSkinId ?? 0; // Jeśli brak, przyjmij domyślną wartość
                    }

                    @foreach (var skin in ViewBag.AvailableSkins)
                    {
                        if (skin.Id == currentSkinId)
                        {
                            <option value="@skin.Id" selected>@skin.Nazwa</option>
                        }
                        else
                        {
                            <option value="@skin.Id">@skin.Nazwa</option>
                        }
                    }
                </select>
                <button type="submit" class="button">Zmień skórkę</button>
            </form>


            <section id="informacje" class="section">
                <h2>Zmiana danych</h2>
                <!-- Formularz do zmiany informacji profilowych -->
                <form asp-controller="ProfilUzytkownika" asp-action="ZmienDane" method="post" enctype="multipart/form-data" class="form">
                    <label for="nazwa-uzytkownika">Nazwa użytkownika:</label>
                    <input type="text" id="nazwa-uzytkownika" name="username" class="input">
                    <label style="margin-top: 25px" for="czas-wylogowania">Czas nieaktywności do wylogowania: (obecnie <b>@ViewBag.LogoutTime minut</b>)</label>
                    <input type="number" id="czas-wylogowania" name="logoutTime" class="input">
                    <button type="submit" class="button">Zapisz zmiany</button>
                </form>
            </section>

            <section id="haslo" class="section">
                <h2>Zmiana hasła</h2>
                <!-- Formularz do zmiany hasła -->
                <form asp-controller="ProfilUzytkownika" asp-action="ZmienHaslo" method="post" enctype="multipart/form-data" class="form">
                    <label for="aktualne-haslo">Aktualne hasło:</label>
                    <input type="password" id="aktualne-haslo" name="aktualne-haslo" class="input" required>
                    <label for="nowe-haslo">Nowe hasło:</label>
                    <input type="password" id="nowe-haslo" name="nowe-haslo" class="input" required>
                    <label for="potwierdz-nowe-haslo">Potwierdź nowe hasło:</label>
                    <input type="password" id="potwierdz-nowe-haslo" name="potwierdz-nowe-haslo" class="input" required>
                    <button type="submit" class="button">Zmień hasło</button>
                </form>
            </section>
        </div>
    </div>
</body>
</html>
