@model List<Projekt_MVC.Models.Wiadomosc>

@{
    ViewData["Title"] = "Wiadomości";
    var userRole = Context.Session.GetString("UserRole");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@ViewBag.CurrentSkinCssFilePath">
    <link rel="stylesheet" href="~/css/Wiadomosci.css">
</head>
<body>

    <h1>Wiadomości</h1>

    <form asp-controller="Home" asp-action="WyslijWiadomosc" method="post">
        <button type="submit" class="btn btn-outline-secondary">Wyślij Wiadomość</button>
    </form>

    @if (userRole == "admin" && ViewBag.ZgloszoneOdpowiedzi != null)
    {
        <h2>Wiadomości zgłoszone do moderacji:</h2>

        <ul class="zgloszone-wiadomosci">
            @foreach (var wiadomosc in ViewBag.ZgloszoneOdpowiedzi)
            {
                <li>
                    <form asp-controller="Admin" asp-action="PrzejdzDoZgloszonejDyskusji" method="post">
                        <div class="zgloszona-wiadomosc">
                            <h5>@Html.Raw(wiadomosc.Tresc)</h5>
                            <input type="hidden" name="id" value="@wiadomosc.DyskusjaId" />
                            <button class="btn btn-secondary" type="submit">Sprawdź</button>
                        </div>
                    </form>
                    <form asp-controller="Admin" asp-action="UsunZgloszonaOdpowiedz" method="post">
                        <input type="hidden" name="IdOdpowiedzi" value="@wiadomosc.OdpowiedzId" />
                        <button class="btn btn-danger" type="submit">Usuń</button>
                    </form>
                </li>
            }
        </ul>

        <hr />
    }

    <table class="table">
        <thead>
            <tr>
                <th>Nadawca</th>
                <th>Odbiorca</th>
                <th>Treść</th>
                <th>Data wysłania</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wiadomosc in Model)
            {
                <tr>
                    <td>@wiadomosc.Nadawca.Nazwa</td>
                    <td>@wiadomosc.Odbiorca.Nazwa</td>
                    <td>@wiadomosc.Tresc</td>
                    <td>@wiadomosc.DataWyslania</td>
                    <td>
                        <form asp-controller="Admin" asp-action="UsunWiadomosc" method="post">
                            <input type="hidden" name="id" value="@wiadomosc.Id" />
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
