@model List<Projekt_MVC.Models.Wiadomosc>

@{
    ViewData["Title"] = "Wiadomości";
    var userRole = Context.Session.GetString("UserRole");

}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="@ViewBag.CurrentSkinCssFilePath">
</head>
<body>

    <h1>Wiadomości</h1>

    <form asp-controller="Home" asp-action="WyslijWiadomosc" method="post">
        <button type="submit" class="btn btn-outline-secondary" style="margin-left: 40px; margin-right: 100px">Wyslij Wiadomość</button>
    </form>

    @if (userRole == "admin" && ViewBag.ZgloszoneOdpowiedzi != null)
    {
        <h2>Wiadomości z zgłoszeniem do moderacji: NIE KLIKAĆ; PRZEKAZYWANE ID JEST W KONTROLERZE ZAWSZE = SIĘ 0 I NWM DLACZEGO</h2>

        <ul>
            @foreach (var wiadomosc in ViewBag.ZgloszoneOdpowiedzi)
            {
                <li>
                    <form asp-controller="Home" asp-action="PrzejdzDoZgloszonejDyskusji" method="post">
                        <div class="container" style="text-align: center">
                            <h5>@Html.Raw(wiadomosc.Tresc)</h5>
                            <p>@wiadomosc.DyskusjaId</p>
                            <input type="hidden" value="@wiadomosc.DyskusjaId" name="id" />
                            <button class="btn" type="submit" style="margin-left: 30px;">Sprawdź</button>
                        </div>
                    </form>
                </li>
            }

        </ul>

        <hr />
    }

    <table class="table">
        <thead>
            <tr>
                <th>Nadawca</th>
                <th>Odbiorca</th>
                <th>Treść</th>
                <th>Data wysłania</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wiadomosc in Model)
            {
                <tr>
                    <td>@wiadomosc.Nadawca.Nazwa</td>
                    <td>@wiadomosc.Odbiorca.Nazwa</td>
                    <td>@wiadomosc.Tresc</td>
                    <td>@wiadomosc.DataWyslania</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>